@import "tailwindcss";

@layer base {

  /* Dana Fonts */
  @font-face {
    font-family: "Dana";
    /* Font Weight : 400 */
    src:
      local("Dana"), url(/src/assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2),
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Medium";
    /* Font Weight : 500 */
    src:
      local("Dana Medium"),
      url(/src/assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana DemiBold";
    /* Font Weight : 600 */
    src:
      local("Dana DemiBold"),
      url(/src/assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2), format("woff2");
    font-display: swap;
  }

  /* ------- */

  /* Morabba Fonts */
  @font-face {
    font-family: "Morabba Light";
    src:
      local("Morabba Light"),
      url(/src/assets/fonts/Morabba/woff2/Morabba-Light.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Medium";
    src:
      local("Morabba Medium"),
      url(/src/assets/fonts/Morabba/woff2/Morabba-Medium.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src:
      local("Morabba Bold"),
      url(/src/assets/fonts/Morabba/woff2/Morabba-Bold.woff2), format("woff2");
    font-display: swap;
  }

  input {
    outline: none;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .overlay__modal--show {
    visibility: visible;
    opacity: 100;
  }

  .overlay__modal--close {
    visibility: hidden;
    opacity: 0;
  }

  .search-bar--show {
    visibility: visible;
    opacity: 100;
  }

  .search-bar--close {
    visibility: hidden;
    opacity: 0;
  }

  div[role="status"] {
    @apply font-dana-medium text-sm max-md:text-custom
  }

  .page__scroll--custom::-webkit-scrollbar {
    height: 2px;
    width: 2px;
  }

  .page__scroll--custom::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
  }

  .page__scroll--hidden::-webkit-scrollbar {
    display: none;
  }

  .magnet-highlight__image-box {
    background-image: linear-gradient(315deg, #e03d96, #7d4c9e)
  }

  .toast__box--custom-class {
    background-color: var(--color-black) !important;
    color: #fff !important;
  }

  .movie-modal__content--overlay {
    background-image: linear-gradient(to top, #000000e1, transparent, #000000);

  }

  .bar {
    background-color: #C15568 !important;
  }

  .offer__card--discount-number {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50.5% 63.25%, 0% 100%);
    background-color: var(--color-primary-tint-700)
  }

  .offer__card--discount-number::before {
    content: '';
    position: absolute;
    display: block;
    inset: 0;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 10%, transparent);
  }

  .special-sell__item {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent)
  }

}

/* Custom Container */
@utility container {
  @apply max-md:px-5 mx-auto
}

@theme {
  /* Fonts */
  --font-dana: "Dana";
  --font-dana-medium: "Dana Medium";
  --font-dana-semi-bold: "Dana DemiBold";
  --font-morabba-light: "Morabba Light";
  --font-morabba-medium: "Morabba Medium";
  --font-morabba-bold: "Morabba Bold";

  --color-primary: #A72F3B;

  /* Tint Color */
  --color-primary-tint-100: #FFFFFF;
  --color-primary-tint-200: #F6EAEB;
  --color-primary-tint-300: #EDD5D8;
  --color-primary-tint-400: #E5C1C4;
  --color-primary-tint-500: #DCACB1;
  --color-primary-tint-600: #CA8289;
  --color-primary-tint-700: #B95962;

  /* Shade Color */
  --color-primary-shade-100: #000000;
  --color-primary-shade-200: #110506;
  --color-primary-shade-300: #21090C;
  --color-primary-shade-400: #320E12;
  --color-primary-shade-500: #431318;
  --color-primary-shade-600: #641C23;
  --color-primary-shade-700: #86262F;

  /* Gray Color */
  --color-gray-100: #F8F8F8;
  --color-gray-200: #F0F0F0;
  --color-gray-300: #EDEDED;
  --color-gray-400: #D6D6D6;
  --color-gray-500: #CBCBCB;
  --color-gray-600: #AFAFAF;
  --color-gray-700: #898989;
  --color-gray-800: #656565;
  --color-gray-900: #434343;
  --color-gray-950: #242424;

  /* State Color */
  --color-success: #00966D;
  --color-success-light: #00BA88;

  --color-warning: #A9791C;
  --color-warning-light: #F4B740;

  --color-error: #C30000;
  --color-error-light: #ED2E2E;


  /* reset 2xl break point */
  --breakpoint-3xl: initial;
  --breakpoint-2xl: initial;
  --breakpoint-xl: 76.5rem;


  /* Font Size : 10px */
  --text-custom: 0.625rem;
  --text-h3: 2rem;
  --shadow-custom: 0px 0px 50px;
}